Genetics.sln
Genetics-csharp.sln
Temp/

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/assetDatabase3
Assets/Genetics Level 1/NavMesh.asset.meta
Assets/Genetics Level 1/NavMesh.asset.meta
Library/ScriptAssemblies/CompilationCompleted.txt
